@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

.logo img{
    width: 70px;
    padding-top: .5rem;
}

header {
  padding: 0 20px;
  background-color: #1B1B19;
  height: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.brand h1{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #1bf5af;
  font-family: 'Bakbak One', cursive;
  padding-top: 13px;
}

.brand h3{
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  color: #1bf5af;
  font-family: 'Rajdhani', sans-serif;
  font-weight: lighter;
}

.brand a {
  color: #09c372;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}



ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#home,
#about,
#contact,
#main,
#shop {
  border-radius: 5px;
  padding: 5px 8px;
}

#home {
  border: 1px solid white;
}

#about {
  border: 1px solid white;
}

#contact {
  border: 1px solid white;
}

#about a {
  color: white;
}

#home a {
  color: white;
}

#contact a {
  color: white;
}

#main{
  border: 1px solid white;
}

#shop{
  border: 1px solid white;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  background-color: white;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1rem;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #565759;
}

.mobile-menu li {
  margin-bottom: 10px;
}

header nav {
  display: none;
}

#hamburger-icon {
  display: block;
}


  .hero-image-container{
    background-image: url("Photos/Lawn-1.jpeg");
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .inner-container h1{
    display: flex;
    text-align: left;
    align-items: center;
    height: 100vh;
    font-weight: bold;
    font-size: 54px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: .1rem;
  }

  /* Personalized Section */

  .personalized-container img{
    width: 300px;
  }

  .personalized-content {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 2% 7% 2% 7%;
    background-color: #1B1B19;
  }

  .personalized-main{
    padding-top: 4rem;
  }

  .personalized-main h1{
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    letter-spacing: .1rem;
    padding-bottom: 1rem;
  }

  .personalized-main h3{
    padding-top: 0.5rem;
    font-size: 1.3rem;
    padding-bottom: 15px;
    color: #468966;
    font-weight: bold;
    letter-spacing: .1rem;
  }

  .personalized-main p{
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  /* Specialize Section */

  .specialize-section{
    color: white;
    background-color: #393e46;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .personalized-bob img{
    padding-bottom: 2rem;
    width: 100%;
  }

  .specialize-icons-container{
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .specialize-icons{
    padding-bottom: 3rem;
  }

  .specialize-icons img{
    width: 20%;
  }

  .what-we-do{
    padding-bottom: 3rem;
  }

  .specialize-icons-container h1{
    font-size: 1.8rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: lighter;
    letter-spacing: .1rem;
  }

  .specialize-icons-container p{
    font-size: 1em;
    font-weight: bold;
    letter-spacing: .1rem;
    padding-top: 1rem;
  }

  .specialize-icons-container .fa-solid{
    color: white;
  }

/* Card Section */

.card-title h1{
    display: flex;
    flex-direction: column;
    font-family: 'Rajdhani', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #468966;
  }    

  .card-title h3{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-bottom: 40px;
    color: #468966;
  }    

.card-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Rajdhani', sans-serif;
    font-weight: lighter;
    color: #468966;
    padding-bottom: 3rem;
    letter-spacing: .1rem;
    line-height: 1.3rem;
}

.card-section p{
  color: black;
}

.card{
    height: 30em;
    width: 17em;
    background: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px;
}

.card-image {
    height: 15em;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 1px 1px 0 0;
}

.card-1{
    background-image: url(Photos/Gravel-2.jpeg);
}

.card-2{
    background-image: url(Photos/Gravel-2.jpeg);
}

.card-3{
    background-image: url(Photos/Gravel-2.jpeg);
}

.card-4{
    background-image: url(Photos/Gravel-2.jpeg);
}

.card h1, .card p{
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
}

.card h1{
  font-size: 25px;
}

.card p{
  padding-top: 10px;
  font-size: 17px;
}

  /* Why Pick Backwoods Section */

  .why-pick-backwoods{
    color: black;
    align-items: center;
    text-align: center;
  }

  .why-pick-content{
    color: black;
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 7% 7% 7% 7%;

  }

  .why-pick-content img{
    width: 20%;
  }


  /* Meet Your Trainers Section */

  .meet-your-trainers{
    text-align: center;
    background-color: #00b7c2;
  }

  .footer-section{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #565759;
    padding-top: 2rem;
  }

  .footer h1{
    font-size: 1.5rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: lighter;
    color: #e0e0e0;
    letter-spacing: .1rem;
  }

  .footer h3{
    font-size: 1rem;
    color: #1bf5af;
    font-weight: bold;
    letter-spacing: .1rem;
  }

  .footer p{
    padding-top: .5rem;
    font-size: .7rem;
    color: white;
    font-weight: bold;
    padding: 2% 7% 2% 7%;
  }

  .fa-brands{
    color: #1bf5af;
    font-size: 2em;
  }

  /* Home Page */

  .home{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #1B1B19;
    height: 100vh;
    background-position: center;
    background-repeat:no-repeat;
  }

  .home-container img{
    width: 100%;
  }

  .home-container p{
    padding-top: 1rem;
  }

  /* Contact Page */

  .contact-form-section{
    text-align: center;
    padding-top: 2rem;
  }

  .contact-form-title h1{
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: lighter;
    letter-spacing: .2rem;
    color: #57595B;
  }

  .contact-form-title p{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .1rem;
    padding: 2% 7% 2% 7%;
  }

  .form-labels{
    background-color: #f1f1f1;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .input-field{
    width: 70%;
    border-radius: 8px;
    border: 0;
    padding: .6em;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  }

  .input-field-message{
    width: 70%;
    height: 150px;
    border-radius: 8px;
    resize: none;
    border: 0;
    padding: .8em;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  }

  .form-button{
    width: 5em;
    width: 70%;
    border-radius: 8px;
    border: 0;
    padding: .8em;
    background-color: #e74c3c;
    color: white;
  }

  /* About Page */ 

  .about-us-image{
    width: 300px;
    height: auto;
    padding-bottom: 1rem;
  }

  .about-us-section{
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-us{
    background-color: #929292;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .about-us-two{
    background-color: #57595B;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .about-us-two h1{
    color: #FFFFFF;
  }

  .about-us-section h1{
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: lighter;
    color: white;
    padding: 2% 7% 2% 7%;
    letter-spacing: .2rem;
  }

  .about-us-section h2{
    font-size: 1rem;
    color: #1bf5af;
    font-weight: bold;
    letter-spacing: .1rem;
  }

  .about-us-section p{
    font-size: 1rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: lighter;
    color: white;
    letter-spacing: .1rem;
    padding: 2% 7% 2% 7%;
  }

    /* Media Query */

  @media only screen and (min-width: 900px) {
    .nav-toggle {
      display: none;
    }
  
    .nav-header {
      display: block;
    }
  
    .flex-nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
    }
  
    .nav-links {
      height: auto;
    }
  
    ul {
      text-align: center;
      flex-direction: row;
      display: flex;
      
    }
  
    .nav-link {
      display: inline-block;
      border-bottom: none;
    }
  
    .nav-links span {
      background: rgb(70, 70, 70);
      padding: 8px 15px;
      border-radius: 4px;
    }
  }

  @media only screen and (min-width: 1024px)  {

    .hero-image-container{
      background-attachment: fixed;
    }
    /* Personalized Content */

    .personalized-content p{
      padding-right: 15rem;
    }

    .personalized-content h1{
      font-size: 2.7rem;
    }

    .specialize-title h1{
      padding-top: 1rem;
      font-size: 2.7rem;
    }

    /* Card Section */
    
    .card-title h1{
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .specialize-icons-container{
      flex-direction: row;
      justify-content: space-between;
      padding: 2% 16% 2% 16%;
    }

    .card-title h1{
      display: flex;
      text-align: center;
      letter-spacing: .1rem;
      margin-top: 3rem;
      font-size: 2.7rem;
      font-family: 'Rajdhani', sans-serif;
      font-weight: lighter;
      color: #434243;
      padding-bottom: 0.5rem;
    }
    
    .coaching-section{
        display: flex;
        justify-content: center;
        background-color: #EFEFEE;
    }
    
    .card{
        height: 23em;
        width: 25em;
        margin: 10px;
        text-align: center;
    }
    
    .card p{
      font-size: 18px;
      letter-spacing: .1rem;
      padding: 2% 20% 2% 20%;
    }

    /* Plans Section */

    .plans{
      padding: 2% 18% 2% 18%;
    }

    .plans p{
      font-size: 1.2rem;
    }
  
    .plans h2{
      font-size: 2.5rem;
    }
  }