@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

.logo img{
    width: 70px;
    padding-top: .5rem;
}

header {
  padding: 0 20px;
  background-color: #1B1B19;
  height: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.brand h1{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #1bf5af;
  font-family: 'Bakbak One', cursive;
  padding-top: 13px;
}

.brand h3{
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  color: #1bf5af;
  font-family: 'Rajdhani', sans-serif;
  font-weight: lighter;
}

.brand a {
  color: #09c372;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}



ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#home,
#about,
#contact,
#main,
#shop {
  border-radius: 5px;
  padding: 5px 8px;
}

#home {
  border: 1px solid white;
}

#about {
  border: 1px solid white;
}

#contact {
  border: 1px solid white;
}

#about a {
  color: white;
}

#home a {
  color: white;
}

#contact a {
  color: white;
}

#main{
  border: 1px solid white;
}

#shop{
  border: 1px solid white;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  background-color: white;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1rem;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #565759;
}

.mobile-menu li {
  margin-bottom: 10px;
}

header nav {
  display: none;
}

#hamburger-icon {
  display: block;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

section.hero {
  display: grid;
  place-items: center;
}

section.hero>* {
  grid-area: 1 / 1;
}

section.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(4px);
  isolation: isolate;
  z-index: -1;
}

section.hero .hero-text {  
  padding: 2.2em 1em;  
}

.hero-text {
  font-family: 'Gloock', serif;
}

.hero-text h1{
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.hero-text p{
  font-size: 1rem; 
  padding-top: .5rem;
  font-weight: bold;
  color: white;
}

  /* Home Page */

  .home{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #1B1B19;
    height: 85vh;
    background-position: center;
    background-repeat:no-repeat;
  }

  .home-container img{
    width: 100%;
    padding-bottom: 20px;
  }

  .customer-review h1{
    padding-top: 15px;
    color: white;
    font-size: 20px;
  }

  .customer-review p{
    color: white;
  }

  /* Contact Page */

  .contact-form-section{
    text-align: center;
    padding-top: 2rem;
    font-family: 'Gloock', serif;
  }

  .contact-form-title h1{
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: .2rem;
    color: #57595B;
  }

  .contact-form-title h2{
    font-size: 1.2rem;
    letter-spacing: .1rem;
    padding: .5rem;
    color: #57595B;
  }

  .contact-form-title p{
    font-size: .8rem;
    font-weight: lighter;
    letter-spacing: .1rem;
    color: #57595B;
  }

  .form-labels{
    background-color: #f1f1f1;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .contact-form-section p{
    padding: .5rem;
  }

  .input-field{
    width: 70%;
    border-radius: 8px;
    border: 0;
    padding: .9em;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  }

  .input-field-message{
    width: 70%;
    height: 150px;
    border-radius: 8px;
    resize: none;
    border: 0;
    padding: .8em;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  }

  .form-button{
    width: 5em;
    width: 70%;
    border-radius: 8px;
    border: 0;
    padding: .8em;
    background-color: #1bf5af;
    color: white;
  }

  /* About Page */ 

  .about-us-section img{
    width: 300px;
    height: auto;
    padding-bottom: 1rem;
  }

  .about-us-section{
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-us{
    background-color: #929292;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .about-us-two{
    background-color: #57595B;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .about-us-two h1{
    color: #FFFFFF;
  }

  .about-us-section h1{
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: lighter;
    color: white;
    padding: 2% 7% 2% 7%;
    letter-spacing: .2rem;
  }

  .about-us-section h2{
    font-size: 1rem;
    color: #1bf5af;
    font-weight: bold;
    letter-spacing: .1rem;
  }

  .about-us-section p{
    font-size: 1rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: lighter;
    color: white;
    letter-spacing: .1rem;
    padding: 2% 7% 2% 7%;
  }

  /* Shop Card Section */

  .shop-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: #e0e0e0;
    font-family: 'Gloock', serif;
  }

  .shop-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    padding-top: 3rem;
  }

  .card {
    width: 270px;
    height: 470px;
    margin: 10px;
    border-radius: 15px;
    background-color: white;
    padding-bottom: 20rem;
  }

  .card h2{
    font-size: 20px;
    padding-left: 5px;
  }

  .card p{
    font-size: 20px;
    padding-left: 5px;
  }

  .card h2, p{
    color: black;
    padding-bottom: 15px;
    padding-top: 5px;
  }

  .button-mover{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .card-image {
    height: 300px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }

  .car-1 {
    background-image: url(Photos/Hat1.JPG);
  }

  .car-2 {
    background-image: url(Photos/Hat2.JPG);
  }
  
  .car-3 {
    background-image: url(Photos/Hat3.JPG);
  }

  .car-4 {
    background-image: url(Photos/Hat4.JPG);
  }

  .car-5 {
    background-image: url(Photos/Hat5.JPG);
  }

  .car-6 {
    background-image: url(Photos/Hat6.JPG);
  }
  
  .car-7 {
    background-image: url(Photos/Hat7.JPG);
  }

  .car-8 {
    background-image: url(Photos/Hat7.JPG);
  }

  .shop-button{
    width: 100%;
    border-radius: 8px;
    border: 0;
    padding: .8em;
    background-color: #1bf5af;
    color: white;  
    cursor: pointer;
    }


  /* Footer Section */

  
  .footer-section{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #1B1B19;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .footer h1{
    font-size: 1rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: lighter;
    color: #e0e0e0;
    letter-spacing: .1rem;
  }

  .footer h3{
    font-size: .5rem;
    color: #1bf5af;
    font-weight: bold;
    letter-spacing: .1rem;
  }

  .footer p{
    padding-top: .5rem;
    font-size: .4rem;
    color: white;
    font-weight: bold;

  }

  .fa-brands{
    color: #1bf5af;
    font-size: 2em;
  }



  .carousel-indicators {
    bottom: 0;
}

    /* Media Query */

  @media only screen and (min-width: 900px) {
    .nav-toggle {
      display: none;
    }
  
    .nav-header {
      display: block;
    }
  
    .flex-nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
    }
  
    .nav-links {
      height: auto;
    }
  
    ul {
      text-align: center;
      flex-direction: row;
      display: flex;
      
    }
  
    .nav-link {
      display: inline-block;
      border-bottom: none;
    }
  
    .nav-links span {
      background: rgb(70, 70, 70);
      padding: 8px 15px;
      border-radius: 4px;
    }
  }

  @media only screen and (min-width: 1024px)  {

      /* Home Page */

  .home{
    height: 88vh;
    padding-left: 15.5rem;
  }

  .home-container img{
    width: 50%;
  }

  .home-container p{
    padding-top: 1rem;
  }


    .hero-image-container{
      background-attachment: fixed;
      height: 100vh;
    }

    .hero-text h1{
      font-size: 2rem;
    }
    
    .hero-text p{
      font-size: 1.5rem; 
    }
    /* Personalized Content */

    .personalized-content p{
      padding-right: 15rem;
    }

    .personalized-content h1{
      font-size: 2.7rem;
    }

    .personalized-bob img{
      padding-bottom: 2rem;
      width: 50%;
    }

    .specialize-title h1{
      padding-top: 1rem;
      font-size: 2.7rem;
    }

  .carousel-indicators {
    bottom: 0;
}
    


    .specialize-icons-container{
      flex-direction: row;
      justify-content: space-between;
      padding: 2% 16% 2% 16%;
    }

    
   

    /* Plans Section */

    .plans{
      padding: 2% 18% 2% 18%;
    }

    .plans p{
      font-size: 1.2rem;
    }
  
    .plans h2{
      font-size: 2.5rem;
    }

    /* Card Section */

    .shop-title{
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      
    }


  }